:root {
	--size: 48px;
}

.form {
	padding: 1em;
	text-align: center;
	color: white;

	.guild .img {
		font-size: calc(var(--size) / 3.5);
		width: calc(var(--size) * 1.5) !important;
		height: calc(var(--size) * 1.5) !important;
	}
}

.muted {
	color: grey;
}

.little {
	font-size: 13px;
}
