:root {
	--size: 48px;
}

.form {
	padding: 1em;
	text-align: center;

	.guild .img {
		font-size: calc(var(--size) / 3.5);
		width: calc(var(--size) * 1.5) !important;
		height: calc(var(--size) * 1.5) !important;
	}
}

.modal .titleModal {
	color: #fff;
	text-align: center;
	padding: 30px 0 0 0;
}

.input-wrapper {
	margin-top: 0px !important;
}

.inputWrapper.channel {
	position: relative;
	display: flex;
	flex-direction: column;
	svg {
		position: absolute;
		top: 12px;
		left: 8px;
		color: #dcddde;
		height: 40px;
	}
	input {
		font-size: 16px;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		width: 100%;
		border-radius: 3px;
		color: #dcddde;
		background-color: rgba(0, 0, 0, 0.1);
		border: 1px solid rgba(0, 0, 0, 0.3);
		-webkit-transition: border-color 0.2s ease-in-out;
		transition: border-color 0.2s ease-in-out;
		height: 40px;
		padding-left: 35px;
	}
}

button {
	border: 0;
}

.muted {
	color: grey;
}

.little {
	font-size: 13px;
}

.title {
	margin-bottom: 1em !important;
}

.radio {
	width: auto !important;
	color: var(--interactive-active);
	cursor: pointer;
	border-radius: 3px;
	display: block;
	padding: 10px;
	display: grid;
	grid-template-columns: auto 1fr;
	grid-gap: 8px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	&.active {
		background-color: var(--background-tertiary);
	}
	svg {
		color: var(--interactive-active);
	}
	.radio-content {
		display: flex;
		flex-direction: row;
		align-items: center;
		svg {
			opacity: 0.6;
			margin-right: 6px;
			fill: #b9bbbe;
		}
		.radio-info {
			display: flex;
			flex-direction: column;
			justify-content: left;
			align-items: first baseline;
			span:first-child {
				font-size: 16px;
				line-height: 20px;
				font-weight: 500;
			}
			span:last-child {
				font-size: 12px;
				line-height: 16px;
				font-weight: 500;
			}
		}
	}
}

.left {
	text-align: left;
	padding: 5px 0;
}
