.container-friends {
	width: 100%;
	padding-right: 5px;
	button.searchBar {
		cursor: pointer;
		width: 100%;
		height: 28px;
		overflow: hidden;
		border-radius: 4px;
		background-color: var(--background-tertiary);
		-webkit-box-shadow: none;
		box-shadow: none;
		color: var(--text-muted);
		text-align: left;
		text-overflow: ellipsis;
		font-size: 14px;
		font-weight: 500;
		line-height: 24px;
		white-space: nowrap;
	}

	.scrolled-container-friendList {
		height: calc(100vh - 40px);
		max-height: calc(100vh - 40px);
		overflow-y: auto;
	}

	.list {
		width: 100%;
		margin: 0;
		padding: 0;
		.item {
			flex: 1 1 auto;
			box-sizing: border-box;
			display: flex;
			flex-direction: row;
			align-items: center;
			min-width: 0;
			padding: 0 8px;
			height: 42px;
			cursor: pointer;
			border-radius: 4px;

			font-weight: inherit;
			font-style: inherit;
			font-family: inherit;
			font-size: 100%;

			.icon {
				position: relative;
				margin-right: 6px;
				width: 16px;
				height: 16px;
				color: #72767d;
				pointer-events: none !important;
			}
			svg {
				position: relative;
				margin-right: 6px;
				width: 16px;
				height: 16px;
				color: #72767d;
				pointer-events: none !important;
			}
			div.content {
				color: #829297;
				font-size: 16px;
				line-height: 20px;
				font-weight: 500;
				flex: 1 1 auto;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				pointer-events: none !important;
			}
			.right {
				&.icon {
					width: 12px !important;
					height: 12px !important;
					color: #72767d !important;
					&.plus {
						width: 15px !important;
						height: 15px !important;
					}
				}
			}
			&.category {
				padding-top: 16px;
				margin-left: 0px;
				&:hover {
					background-color: transparent !important;
				}
				&.active {
					background-color: transparent !important;
				}
			}
			&.active {
				background-color: rgba(79, 84, 92, 0.24);
				.icon {
					color: #fff !important;
				}
				div.content {
					color: #fff !important;
				}
			}
			&:hover {
				background-color: rgba(79, 84, 92, 0.16);
				.icon {
					color: #fff !important;
				}
				div.content {
					color: #fff !important;
				}
				.visibleOnHover {
					opacity: 1;
				}
			}
		}
	}
}

.friendsList {
	.privateChannelsHeader {
		position: relative;
		display: flex;
		padding: 5px 8px 0 10px;
		height: 40px;

		span {
			cursor: default;
			display: flex;
			flex-grow: 2;
			width: 100%;
			padding-top: 5%;
			height: 18px;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			text-transform: uppercase;
			font-size: 12px;
			line-height: 16px;
			letter-spacing: 0.25px;
			font-family: var(--font-display);
			font-weight: bold;
			color: var(--text-muted);
			&:hover {
				color: #fff;
			}
		}
		.icon {
			cursor: pointer;
			margin-left: 40%;
			width: 12px;
			height: 12px;
		}
	}

	.member {
		position: relative;
		display: flex;
		align-items: center;
		height: 42px;
		border-radius: 4px;
		padding: 8px 8px 0px 8px;
		cursor: pointer;
		.image {
			margin-right: 12px;
			height: 42px;
			img {
				border-radius: 50%;
				width: 32px;
				height: 32px;
			}
			.indicator {
				position: relative;
				bottom: 1.09rem;
				left: 1.2rem;
				width: 10px !important;
				height: 10px !important;
			}
			.avatar-wrapper {
				border: 0.23rem solid var(--background);
				display: flex;
				flex-direction: column;
				align-items: center;
			}

			.avatar-wrapper .indicator {
				border: none;
				top: 3px;
				left: 0.2px;
				height: 15px;
				width: 15px;
				margin-bottom: 1px;
			}

			.indicator-wrapper {
				background: var(--background);
				height: auto;
				border-radius: 5px;

				position: relative;
				top: -15px;
				left: 15px;
			}
		}
		.contentWrap {
			display: flex;
			flex-direction: column;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			margin-top: -10px;
			.name {
				font-size: 16px;
				line-height: 20px;
				font-weight: 500;
				-webkit-box-flex: 0;
				-ms-flex: 0 1 auto;
				flex: 0 1 auto;
				color: #8e9297;
			}
			.description {
				display: flex;
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;
				font-size: 12px;
				line-height: 16px;
				color: #8e9297;
				font-weight: 500;
			}
		}
		.icon {
			right: 10px;
			position: absolute;
			top: 19px;
			width: 15px;
			height: 15px;
		}
		&.active {
			background-color: var(--background-primary);
		}
		&:hover {
			background-color: var(--background-primary);
			.visibleOnHover {
				opacity: 1;
			}
		}
	}
}
