:root {
	--guild-container-background: var(--background-tertiary);
	--guild-container-secondary: var(--background-primary);
	--guild-pill: var(--text-default);
}

i.icon {
	&.edit {
		mask-image: url(../../../node_modules/@fosscord/ui/icons/regular/edit.svg);
	}
	&.react {
		mask-image: url(../../../node_modules/@fosscord/ui/icons/regular/dizzy.svg);
	}
	&.arrow-down {
		mask-image: url("../../../node_modules/@fosscord/ui/icons/solid/arrow-down.svg");
		width: 10px;
	}
	&.arrow-right {
		mask-image: url("../../../node_modules/@fosscord/ui/icons/solid/arrow-right.svg");
		width: 10px;
	}
}

.content:not(.network.page .content) {
	display: flex;
	flex-direction: row;
	flex: 1 1 auto;

	.pageContent {
		width: 100%;
		display: flex;
		flex-direction: column;
		background-color: var(--guild-container-secondary) !important;
	}

	.sidebar {
		display: none;
	}

	.sidebar.show {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
	}

	.topbar {
		background-color: var(--background-primary);
		box-shadow: var(--elevation-low);
		padding: 1px 17px;
		height: 57px;
		z-index: 999;
		width: calc(98% + 240px);

		header {
			display: flex;
			height: 48px;

			& h1.icon {
				font-size: 15px;
				padding-left: 4em;
			}

			& h1:not(.icon) {
				position: relative;
				top: 3px;
				font-size: 20px;
				line-height: 20px;
				padding-left: 0.5em;
			}
		}
	}

	.sidebar-channels {
		position: relative;
		width: 240px;
		overflow-x: hidden;
		background-color: var(--background-secondary);

		.container {
			display: flex;
			flex-direction: column;
			flex: 1 1 auto;

			.scrolled-container {
				height: calc(100vh - 100px);
				max-height: calc(100vh - 100px);
				overflow-y: auto;
				scrollbar-color: var(--guild-container-background) var(--background-secondary) !important;
				scrollbar-width: thin;
			}

			.list .item {
				flex: 1 1 auto;
				box-sizing: border-box;
				display: flex;
				flex-direction: row;
				align-items: center;
				min-width: 0;
				padding: 6px 8px;
				cursor: pointer;
				border-radius: 4px;

				margin-left: 8px;
				margin-right: 8px;

				font-weight: inherit;
				font-style: inherit;
				font-family: inherit;
				font-size: 100%;

				.icon {
					position: relative;
					margin-right: 6px;
					width: 15px;
					height: 15px;
					color: #72767d;
					pointer-events: none !important;
				}
				svg {
					position: relative;
					margin-right: 6px;
					width: 12px;
					height: 12px;
					color: #72767d;
					pointer-events: none !important;
				}
				span {
					color: #829297;
					font-size: 16px;
					line-height: 20px;
					font-weight: 500;
					flex: 1 1 auto;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					pointer-events: none !important;
				}
				.right {
					&.icon {
						width: 12px !important;
						height: 12px !important;
						color: #72767d !important;
						&.plus {
							width: 15px !important;
							height: 15px !important;
						}
					}
					pointer-events: all !important;
				}
				&.category {
					padding-top: 16px;
					margin-left: 0px;
					&:hover {
						background-color: transparent !important;
					}
					&.active {
						background-color: transparent !important;
					}
				}
				&.active {
					background-color: rgba(79, 84, 92, 0.24);
					.icon {
						color: #fff !important;
					}
					span {
						color: #fff !important;
					}
				}
				&:hover {
					background-color: rgba(79, 84, 92, 0.16);
					.visibleOnHover {
						opacity: 1;
					}
				}
			}

			header {
				display: flex;
				align-items: center;
				padding: 1px 17px;
				box-shadow: var(--elevation-low);
				min-height: 57px;

				& h1 {
					font-size: 25px !important;
					word-break: break-all;
				}
			}

			input {
				font-size: 14px;
			}

			h1 {
				font-size: 15px !important;
				line-height: 20px !important;
				white-space: nowrap !important;
				text-overflow: ellipsis !important;
				font-weight: 600 !important;
			}

			.settingsBar {
				height: 52px;
				font-size: 14px;
				font-weight: 500;
				display: flex;
				align-items: center;
				padding: 0 8px;
				background-color: #292b2f;
				position: absolute;
				left: 0;
				bottom: 0;
				overflow: hidden;
				.member {
					width: 125px !important;
					display: flex;
					-webkit-box-align: center;
					-ms-flex-align: center;
					align-items: center;
					border-radius: 4px;
					height: 42px;
					padding: 8px 8px 0 2px;
					.image {
						margin-right: 12px;
						height: 42px;
						img {
							border-radius: 50%;
							width: 32px;
							height: 32px;
						}
						.indicator {
							position: relative;
							bottom: 1.09rem;
							left: 1.2rem;
							width: 0.8rem !important;
							height: 0.8rem !important;
						}
						.avatar-wrapper {
							border: 0.23rem solid var(--background);
							display: flex;
							flex-direction: column;
							align-items: center;
						}

						.avatar-wrapper .indicator {
							border: none;
							top: 3px;
							left: 0.2px;
							height: 15px;
							width: 15px;
							margin-bottom: 1px;
						}

						.indicator-wrapper {
							background: var(--background);
							height: auto;
							border-radius: 5px;

							position: relative;
							top: -15px;
							left: 15px;
						}
					}
					.contentWrap {
						display: flex;
						flex-direction: column;
						white-space: nowrap;
						text-overflow: ellipsis;
						overflow: hidden;
						margin-top: -10px;
						.name {
							font-size: 14px;
							white-space: nowrap;
							text-overflow: ellipsis;
							overflow: hidden;
							line-height: 18px;
							font-weight: 600;
							color: #8e9297;
						}
						.description {
							font-size: 12px;
							line-height: 16px;
							color: #8e9297;
							font-weight: 500;
							white-space: nowrap;
							text-overflow: ellipsis;
							overflow: hidden;
							width: 100%;
							contain: paint;
						}
					}
				}

				.buttonOption {
					cursor: pointer;
					padding: 4px 3px 0 2px;
					img {
						filter: invert(73%) sepia(72%) saturate(0%) hue-rotate(294deg) brightness(91%)
							contrast(87%);
						padding: 2px;
						//width: 17px;
					}
					&:hover {
						background-color: var(--background-primary);
					}
				}
			}
		}
	}

	.chatContent {
		width: 100%;
		height: calc(100vh - 60px);
		max-height: calc(100vh - 60px);
		display: flex;
		flex-direction: column;
		background-color: var(--guild-container-secondary);

		input {
			width: auto;
			height: 44px;
			background-color: #40444b;
			max-height: 50vh;
			border-radius: 8px;
			padding-left: 16px;
			border: none;
			margin: 20px;
			margin-top: 20px;
			margin-bottom: 30px;
			outline: 0;
		}
	}

	.chatContent .scrolled-container {
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column-reverse;
		overflow: auto;
		overflow-x: hidden;
		scrollbar-color: var(--guild-container-background) var(--background-secondary) !important;
		scrollbar-width: thin;
		color: white;

		.empty {
			position: absolute;
			top: 50%;
			right: 50%;
			transform: translate(50%, -100%);
		}

		.message {
			position: relative;
			display: flex;
			flex-direction: row;
			padding: 10px;
			padding-left: 20px;

			img {
				cursor: pointer;
				border-radius: 50%;
				width: 38px;
				height: 38px;
			}

			.contentMessage {
				display: flex;
				flex-direction: column;
				padding-left: 20px;

				.messageHeader {
					a,
					button {
						cursor: pointer;
						padding: 0;
						margin: 0;
						background: none;

						&:focus {
							text-decoration: underline;
						}
					}

					span {
						padding-left: 5px;
					}
				}
			}

			& .messageOptions {
				display: none;
				background-color: var(--background-primary);
				position: absolute;
				width: auto;
				height: 32px;
				margin-top: -20px;
				right: 20px;
				box-shadow: 0 0 0 1px rgba(4, 4, 5, 0.15);
				border-radius: 4px;
				align-items: center;
				justify-content: flex-start;
				&:hover {
					box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%),
						0 1px 10px 0 rgb(0 0 0 / 12%);
				}
				.buttonOption {
					display: flex;
					-webkit-box-align: center;
					-ms-flex-align: center;
					align-items: center;
					-webkit-box-pack: center;
					-ms-flex-pack: center;
					justify-content: center;
					height: 24px;
					padding: 5px;
					min-width: 24px;
					-webkit-box-flex: 0;
					-ms-flex: 0 0 auto;
					flex: 0 0 auto;
					color: var(--interactive-normal);
					cursor: pointer;
					position: relative;
					i {
						height: 17px;
					}
					&:hover {
						background-color: var(--background-secondary);
					}
				}
			}

			&:hover {
				//position: relative;
				background-color: var(--background-secondary);
				& .messageOptions {
					display: flex !important;
				}
			}
		}
	}
}

@media (min-width: 600px) {
	.topbar header h1.icon {
		padding-left: 0 !important;
	}

	.menuBtn {
		display: none;
	}

	.chatContent .empty {
		transform: translate(80%, -80%) !important;
	}

	.membersWrap {
		display: initial !important;
	}

	.sidebar {
		display: flex !important;
	}

	.sidebar.show .guild-container {
		padding-top: 0.5em !important;
	}

	.sidebar-enabled {
		filter: none !important;
		user-select: all !important;
		pointer-events: all !important;
	}
}

.menuBtn {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	width: 66px;
	height: 58px;
}

.sidebar-enabled {
	filter: blur(3px);
	user-select: none;
	pointer-events: none;

	.topbar header {
		padding-left: 0 !important;
	}
}

.sidebar.friendList {
	width: 224px;
	padding: 0.5em;
	background-color: var(--background-secondary);
	display: flex !important;
}

.guild-container {
	display: flex;
	flex-direction: column;
	background-color: var(--guild-container-background);
	padding-top: 0.5rem;
	max-width: 66px;
}

.sidebar.show .guild-container {
	padding-top: 4.5rem;
}

.footer {
	position: relative;
	display: flex;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	padding: 16px;
	z-index: 1;
	flex-direction: row-reverse;
	overflow-x: hidden;
	background-color: #2f3136;
	box-shadow: 0 0 0 1px rgb(32 34 37 / 60%), 0 2px 10px 0 rgb(0 0 0 / 20%) !important;
	button {
		margin: 10px;
		min-width: 100px;
	}
}

.guild {
	display: flex;
	margin-right: 0.6rem;
	align-items: center;
	margin-bottom: 0.5rem;
	cursor: pointer;

	.pill {
		pointer-events: none !important;
	}
	.img {
		pointer-events: none !important;
	}

	&:active {
		transform: translateY(1px);
	}

	&.new-guild {
		transition: color 0.15s ease-out, background-color 0.15s ease-out;

		.img {
			color: hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%);
			background-color: var(--background-primary);
			font-weight: 365;
			font-size: 30px;
			pointer-events: none !important;
		}
	}
}

.guild.unread .pill {
	background-color: var(--guild-pill);
	height: 0.6rem;
	width: 0.25rem;
}

.guild.active {
	border-radius: 25%;
}

.guild .img {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	transition: border-radius 0.1s ease, background-color 0.15s ease, box-shadow 0.15s ease;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--background-primary);
	text-align: center;
	overflow: hidden;
	user-select: none;
	color: var(--text-default);
}

.guild:not(.guild.home) .img:hover {
	background: var(--primary);
	color: var(--text-strong);
}

.guild.home:hover {
	border-radius: 0;
}

.guild.active img {
	border-radius: 35%;
}

.guild.active .pill {
	height: 2.5rem !important;
	width: 0.25rem;
	background-color: var(--guild-pill);
}

.guild.home a {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background-color: var(--guild-container-secondary);
}

.guild.separator {
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

hr {
	margin: 0 auto;
	padding: 0;
	margin-bottom: 0.5rem;
	width: 40%;
	border: none;
	border-bottom: 2px solid var(--guild-container-secondary);
}

.guild:hover .pill {
	height: 1.25rem;
	width: 0.25rem;
	background-color: var(--guild-pill);
}

.guild:hover .img {
	border-radius: 35%;
}

.guild .pill {
	height: 0rem;
	width: 0.25rem;
	background-color: transparent;
	border-top-right-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
	margin-right: 0.3rem;
	transition: height 0.2s;
}

.contentWrap {
	display: flex;
	flex-direction: row;
}

.membersWrap {
	width: 240px;
	padding: 0 0 20px;
	padding-right: 0px;
	flex: 0 0 auto;
	display: none;
	overflow: auto;
	background-color: var(--background-secondary);
	&.right {
		position: relative;
		bottom: 0;
		padding: 0.5em;
		margin-top: 59px;
	}
	* {
		user-select: none;
	}
	.membersGroup {
		padding: 24px 8px 0 16px;
		height: 40px;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		text-transform: uppercase;
		font-size: 12px;
		line-height: 16px;
		letter-spacing: 0.25px;
		font-family: Ginto, "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-weight: 600;
		flex: 1 1 auto;
		color: #8e9297;
	}
	.member {
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		height: 42px;
		border-radius: 4px;
		padding: 8px 8px 0 17px;
		cursor: pointer;
		.image {
			margin-right: 12px;
			height: 42px;
			img {
				border-radius: 50%;
				width: 32px;
				height: 32px;
			}
			.indicator {
				position: relative;
				bottom: 1.09rem;
				left: 1.2rem;
				width: 0.8rem !important;
				height: 0.8rem !important;
			}
			.avatar-wrapper {
				border: 0.23rem solid var(--background);
				display: flex;
				flex-direction: column;
				align-items: center;
			}

			.avatar-wrapper .indicator {
				border: none;
				top: 3px;
				left: 0.2px;
				height: 15px;
				width: 15px;
				margin-bottom: 1px;
			}

			.indicator-wrapper {
				background: var(--background);
				height: auto;
				border-radius: 5px;

				position: relative;
				top: -15px;
				left: 15px;
			}
		}
		.contentWrap {
			display: flex;
			flex-direction: column;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			margin-top: -10px;
			.name {
				font-size: 16px;
				line-height: 20px;
				font-weight: 500;
				-webkit-box-flex: 0;
				-ms-flex: 0 1 auto;
				flex: 0 1 auto;
				color: #8e9297;
			}
			.description {
				display: flex;
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;
				font-size: 12px;
				line-height: 16px;
				color: #8e9297;
				font-weight: 500;
			}
		}
		&:hover {
			background-color: var(--background-primary);
		}
	}
}
